.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #019592;
  color: #fff;
}

.wrapperFooterRight {
  display: flex;
  margin: 2em;
}

.wrapperFooterIcon {
  padding: 0 0.5em;
}
